nav {
    background-color: transparent;
    width: 100%;
    height: 64px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    
    .nav-container{
        max-width: 90%;
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;  
        justify-content: space-between;

        .activeLink, .unActiveLink{
            color: var(--op-bg-color);
            text-decoration: none;
            list-style: none;
        }

        .activeNav, .unActiveNav{
            margin: 20px;
            padding: 10px;

            .activeLink {
                color: var(--primary-color);
                font-size: 24px;
                cursor: pointer;
            }
        }

        .unActiveHover:hover {
            transition: all .3s ease-out;
            filter: brightness(70%);
        }

        .unActiveNav{
            width: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .webNavLinks, .socialLinks{
                width: 40%;
                display: flex;
                justify-content: space-between;
            }

            .socialLinks{
                justify-content: flex-end;
                div{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;

                    i {
                        color: var(--op-bg-color);
                        font-size: 22px;
                    }
                }
            }
        }
    }
}


