#Work{
    position: absolute;
    height: 91vh;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    
    .work-container{
        background-color: green;
        width: 100%;
        height: 100%;
        animation: loadComponent 1s forwards ease-in-out;
    }
}