
.Profile-cardParent{
    height: clamp(350px, 50vw, 100%);
    width: clamp(400px, 50vw, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    touch-action: none;

    
    .Profile-cardChild{
        height: 100%;
        width: 45%;
        position: relative;
        top: 0px;
        left: 0;
        perspective: 700px;
        
        div{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
            z-index: 2;
        }
        
        .loader-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            
            .loader {
                border: .3vw solid #f3f3f3;
                border-radius: 50%;
                border-top: .3vw solid #676767;
                width: 4vw;
                height: 4vw;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                position: relative;
                margin: auto;
            }
        }
        
        .profileCard-lower{
            background-color: var(--same-bg-color);
            display: flex;
            flex-direction: column;  
            box-shadow: 0px .5rem .5rem rgba(0,0,0,.8), 0px .5rem .5rem rgba(0,0,0,.4);
            z-index: 1;
        }
        .bg-colorWhite{
            background-color: var(--op-bg-color);
        }
        
        .profileCard-upper{
            background-color: transparent;
            z-index: 2;
            
            div{
                position: relative;
                text-align: center;
                height: 100%;
                width: 100%;
                opacity: 1;
            }
            
            .Profile-cardTitle {
                border-bottom: 1px solid #fff;
                border-radius: 0px;
                height: 8%;
                color: var(--primary-color);

                h2{
                    font-size: clamp(1rem,3.5vw, 2rem);
                }
            }
            
            .Profile-cardContent{
                height: 90%;
                
                .firstCode, .secondCode{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: .5rem;
                    height: clamp(42%, 20vw, 45%);
                    margin: .25rem 0;
                    
                    .pad-10{
                        padding-left: 10px;
                    }
                    .pad-50{
                        padding-left: 50px;
                    }
                    .pad-80{
                        padding-left: 80px;
                    }
                    
                    
                    .codeBlocks{
                        width: 100%;
                        height: 50%;      
                        margin: 6px 0;
                        display: flex;
                        align-items: center;
                        
                        .small{
                            width: clamp(.25rem, 5vw, 1.5rem);
                        }
                        .medium{
                            width: clamp(.5rem, 5vw, 2.5rem);
                        }
                        .large{
                            width: clamp(1rem, 5vw, 4rem);
                        }

                        .eachCode-blocks{
                            opacity: 0;
                            margin: 0 .25rem;
                            height: 70%;
                            border-radius: 5px;
                            // box-shadow: 30px 20px 15px rgba(0,0,0,.7);
                        }
                    }
                }
                
                .firstCode{
                    justify-content: space-evenly;
                }
                .run-buttonContainer{
                    height: 10%;
                    width: 100%;
                    text-align: end;
                    
                    button{
                        padding: .25rem .525rem;
                        border-radius: .25rem;
                        border: none;
                        background-color: #008529;
                        color: #fff;
                        font-size: clamp(.35rem,3vw, 1.2rem);
                        font-weight: lighter;
                        letter-spacing: 1px;
                        outline: none;
                        cursor: pointer;
                        margin: 0px 1rem;
                        transition: all 0.4s ease;
                        animation: glowBtn 1.2s infinite forwards ease;
                        
                        &:hover{
                            filter: brightness(80%);
                            animation: none;
                        }
                    }
                }
                .ProfileCard-imageContainer{
                    width: 95%;
                    height: 30%;
                    margin: .5rem auto;
                    opacity: 0;
                    animation: animateSite 1s forwards ease;
                    
                    img{
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                .Profile-siteContentContainer{
                    height: 65%;
                    width: 95%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    
                    .first-container{
                        overflow: hidden;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        animation: animateSite 1s .25s forwards ease;
                        opacity: 0;
                        
                        div:first-child{
                            width: 70%;
                        }
                        div:last-child{
                            width: 30%;
                            
                            .box{
                                overflow: hidden;
                                height: 90%;
                                width: 50%;
                                background-color: rgb(157, 157, 157);
                                border-radius: .25rem;
                                margin-left: auto;
                                margin-right: .25rem;
                            }
                        }
                    }

                    .second-container{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        animation: animateSite 1s .5s forwards ease;
                        opacity: 0;

                        .box{
                            height: 90%;
                            flex-basis: 1;
                            background-color: var(--same-bg-color);
                            margin: .25rem;
                            border-radius: 3px;
                        }
                    }
                    .third-container{
                        opacity: 0;
                        animation: animateSite 1s .75s forwards ease;
                    }

                    div{
                        // flex-basis: auto;
                        // border-radius: 0px;

                        .eachCode-block{
                            width: 95%;
                            height: 10%;
                            margin: .25rem;
                            border-radius: 2px;
                        }
                        
                        .small-block{
                            background-color: rgb(162, 162, 162);
                            height: 5%;
                            margin: .125rem .25rem;
                        }
                    }

                    
                }
            }
        }
    }
    
    .shadow-container{
        background-color: var(--same-bg-color);
        box-shadow: 0px 10px 10px rgba(0,0,0,.8), 0px 10px 10px rgba(0,0,0,.4);
        border-radius: 10px;
    }
}

.dark-color{
    background-color: #003F63;
}
.light-color{
    background-color: #D9D9D9;
}
.mid-color{
    background-color: #5E5EFB;
}

@keyframes glowBtn {
    0%{
        background-color: #3cd66b;
    }
    50%{
        background-color: #0baf3c;
    }
    100%{
        background-color: #34ce62;
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes animateSite {
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes animateCodeBlock {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}